
@{
    ViewData["Title"] = "تماس با ما";
}

<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">تماس با ما</div>
            <div class="card-body">
                <h4 class="card-title">راه های ارتباطی</h4>
                <p class="card-text">021-44444444</p>
                <p class="card-text">09121212121</p>
                <p class="card-text">arvin@gmail.com</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3 text-nowrap" style="font-size: 62px">به فروشگاه من خوش آمدید!</h1>
            <p class="lead">میتوانید از طریق راه های ارتباطی با ما در تماس باشید.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
            </p>
        </div>
    </div>
</div>

